.calculator {
   position: relative;
   &__container {
      position: relative;
      z-index: 2;
   }
   &__image {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-30%);
      width: 100%;
      height: 100%;
      mix-blend-mode: lighten;
      @include breakpoint($md-3, 0) {
         transform: translateY(0%);
      }
      @include breakpoint($md-4, 0) {
         transform: translateY(-30%);
      }
      img {
      }
   }
   &__header {
      margin-bottom: 5rem;
      @include breakpoint($md-3, 0) {
         margin-bottom: 4rem;
      }
      @include breakpoint($md-3, 0) {
         margin-bottom: 3rem;
      }
   }

   &__body {
   }

   &__range {
   }
   &__items {
      margin-top: 13.2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
      gap: 2rem;
      @include breakpoint($md-3, 1) {
         grid-auto-rows: 1fr;
      }
      @include breakpoint($md-3, 0) {
         margin-top: 8rem;
         gap: 1.4rem;
         grid-template-columns: repeat(3, minmax(234px, 1fr));
         grid-auto-flow: column;
         overflow: auto;
      }
      @include breakpoint($md-4, 0) {
         gap: 1rem;
         margin-top: 3rem;
      }
   }

   &__item {
   }
}

.item-calculator {
   background-color: $darkBlueColor;
   padding: 4rem;
   @include breakpoint($md-3, 0) {
      padding: 3rem 2.7rem 2rem 2rem;
   }
   @include breakpoint($md-4, 0) {
      padding: 2rem;
   }
   &__month {
      font-family: "gothampro";
      font-weight: 700;
      font-size: 2.2rem;
      line-height: calc(26 / 22 * 100%);
      @include breakpoint($md-4, 0) {
         font-size: 2rem;
         line-height: calc(24 / 20 * 100%);
      }
   }

   &__price {
      color: $orangeColor;
      font-weight: 700;
      font-size: 4.2rem;
      line-height: calc(71 / 42 * 100%);
      @include breakpoint($md-3, 0) {
         font-size: 3.2rem;
         line-height: calc(54 / 32 * 100%);
      }
   }

   &__text {
      font-weight: 400;
      font-size: 2rem;
      line-height: calc(34 / 20 * 100%);
      @include breakpoint($md-3, 0) {
         font-size: 1.6rem;
         line-height: calc(27 / 16 * 100%);
      }
   }

   &__total {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: calc(54 / 32 * 100%);
      @include breakpoint($md-3, 0) {
         font-size: 2.6rem;
         line-height: calc(44 / 26 * 100%);
      }
   }
}

.range-calculator {
   max-width: 754px;
   margin: 0 auto;
   &__label {
      font-size: 2rem;
      line-height: calc(34 / 20 * 100%);
      color: $white;
      text-align: center;
      margin-bottom: 2rem;
   }

   &__body {
   }
   &__input {
      width: 100%;
      border-radius: 5px;
      border: 2px solid rgba(87, 87, 87, 0.34);
      background: rgba(43, 46, 55, 0.8);
      box-shadow: inset 0px 0px 18px rgba(255, 255, 255, 0.2);
      @supports ((-webkit-backdrop-filter: blur(11px)) or (backdrop-filter: blur(11px))) {
         background: rgba(43, 46, 55, 0.5);
         backdrop-filter: blur(11px);
      }
      font-size: 3.6rem;
      color: $white;
      font-weight: 700;
      text-align: center;
      line-height: calc(61 / 36 * 100%);
      padding: 10px;
      @include breakpoint($md-4, 0) {
         font-size: 3.2rem;
         line-height: calc(54 / 32 * 100%);
      }
   }
   &__ranging {
      margin-top: 1px;
   }
}
