$maxWidth: 1920;
$maxWidthContainer: 1140;
$z-index-header: 1000;
$white: #fff;
$black: #000;
$mainColor: #17191f;
$orangeColor: #ffa800;
$darkBlueColor: #505da5;
$md-1: $maxWidthContainer + 15;
$md-2: 992.2;
$md-3: 768.2;
$md-4: 525.2;
$fontFamily: "Montserrat";
