.reviews {
   &__image {
      z-index: 2;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50%;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         width: 100%;
         height: 100%;
         background-color: $darkBlueColor;
      }
   }
   &__wrapper {
      position: relative;
   }
   &__header {
      margin-bottom: 8rem;
      @include breakpoint($md-4, 0) {
         margin-bottom: 2.6rem;
      }

      @media (max-width:#{$md-3 + px}) and  (min-width:#{$md-4 + px}) {
         display: none;
      }
   }
   &__body {
      position: relative;
      box-sizing: border-box;
      padding-bottom: 5rem;
      z-index: 5;
      @include breakpoint($md-4, 1) {
         padding-right: 7rem;
         padding-left: 7rem;
      }
      @include breakpoint($md-4, 0) {
         padding-bottom: 3rem;
      }
   }

   &__swiper {
      flex: 1 1 auto;
      z-index: 5;
   }
}

.swiper-reviews {
   max-width: 1020px;
   margin: 0 auto;
   position: relative;
   width: 100%;
   @include breakpoint($md-4, 1) {
      overflow: hidden;
   }
   &__wrapper {
      display: flex;
      align-items: center;
      @include adaptive-value(min-height, 601, 426, 1);
      width: 100%;
   }

   &__slide {
      flex-shrink: 0;
      display: flex;
      transition: transform 0.3s linear;
      @include breakpoint($md-4, 1) {
         flex-direction: column;
         position: relative;
         justify-content: center;
         &.swiper-slide-prev,
         &.swiper-slide-next {
            .swiper-reviews__image {
               transform: scale(1.14);
               transition: all 0.5s ease;
               height: 428px;
            }
         }

         &.swiper-slide-active {
            .swiper-reviews__image {
               transition: all 0.5s ease;
               height: 422px;
               transform: scale(1.425);
            }
         }
         @media (max-width:#{$md-1 + px}) and  (min-width:#{$md-4 + px}) {
            min-height: 518px;
            &.swiper-slide-prev,
            &.swiper-slide-next {
               .swiper-reviews__image {
                  transform: scale(1);
                  height: 414px;
               }
            }
            &.swiper-slide-active {
               .swiper-reviews__image {
                  height: 470px;
                  position: relative;
                  left: -25px;
                  transform: scale(1.1);
                  width: calc(100% + 50px);
               }
            }
         }
      }
      @include breakpoint($md-4, 0) {
         width: 206px;
      }
   }
   &__image {
      height: 389px;
      position: relative;
      width: 100%;
      transform: scale(1);
      transition: all 0.5s ease;
      img {
         pointer-events: none;
         position: absolute;
         left: 0;
         top: 50%;
         transform: translateY(-50%);
         width: 100%;
         height: 100%;
      }
      @include breakpoint($md-1, 0) {
         transform: scale(1);
         height: 418px;
      }
      @include breakpoint($md-4, 0) {
         transform: scale(1);
      }
   }
   &__pagination {
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5rem;
      .swiper-pagination-bullet {
         flex: 0 0 12px;
         height: 12px;
         cursor: pointer;
         background-color: $white;
         border-radius: 50%;
         &:not(:last-child) {
            margin-right: 10px;
         }
         @include breakpoint($md-3, 0) {
            flex: 0 0 20px;
            height: 20px;
         }
      }
      .swiper-pagination-bullet-active {
         background-color: $orangeColor;
      }
      @media (max-width:#{$md-3 + px}) and  (min-width:#{$md-4 + px}) {
         display: none;
      }
      @include breakpoint($md-3, 0) {
         margin-top: 2rem;
      }
   }

   &__arrows {
      @include breakpoint($md-4, 0) {
         display: none;
      }
   }
}

.arrows-reviews {
   display: flex;
   justify-content: space-between;
   position: absolute;
   left: -22px;
   top: 50%;
   transform: translateY(-50%);
   width: calc(100% + 44px);
   pointer-events: none;
   z-index: 5;
   @include breakpoint(1230, 0) {
      width: 100%;
      left: 0;
   }
   &__arrow {
      cursor: pointer;
      border-radius: 50%;
      flex: 0 0 44px;
      border-radius: 50%;
      height: 44px;
      overflow: hidden;
      transition: background-image 0.5s ease;
      pointer-events: all;
      background: url("../images/reviews/arrow.svg") 0 0 no-repeat;
      @media (any-hover: hover) {
         &:hover {
            background: url("../images/reviews/arrow-hover.svg") 0 0 no-repeat;
         }
      }
      &:active:hover {
         background: url("../images/reviews/arrow-active.svg") 0 0 no-repeat;
      }
   }

   &__arrow-prev {
      transform: rotate(180deg);
      @include breakpoint(1230, 0) {
         transform: translateX(15px) rotate(180deg);
      }
   }

   &__arrow-next {
      @include breakpoint(1230, 0) {
         transform: translateX(-15px);
      }
   }
}
