.block-header {
   text-align: center;
   &__title {
      font-weight: 700;
      font-size: 4.2rem;
      line-height: calc(50 / 42 * 100%);
      font-family: "gothampro";
      color: $white;
      @include breakpoint($md-4, 0) {
         font-size: 3.2rem;
         line-height: calc(38 / 32 * 100%);
      }
   }

   &__text {
      color: $white;
      font-size: 2rem;
      line-height: calc(30 / 20 * 100%);
      max-width: 561px;
      margin: 4rem auto 0 auto;
      @include breakpoint($md-3, 0) {
         margin-top: 3rem;
      }
      @include breakpoint($md-4, 0) {
         margin-top: 1.5rem;
      }
   }
}
